.container {
  min-height: 100vh;
  display: grid;
  grid-auto-rows: max-content;
  align-content: center;
  justify-content: center;
}

.bandInput {
  width: 100%;
  margin-bottom: 0.5rem;
  border: 1px solid black;
  padding: 0.3em 0.5em;
  border-radius: 0.25em;
}
